<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title><%=pageTitle%></title>
    <!-- Bootstrap -->
        <style>
        .customdiv{
            height: 90px;
            text-align: center;
        }
        h1{
            color:whitesmoke;
            padding-top: 15px;
        }
        .info{
            color:black;
            padding: 50px;
            margin:100px;
        }
        .group{
            text-align: right;
        }
        .btnbelow{
            margin-bottom: 10px;
        }
        </style>
        <link rel="stylesheet" href="/css/styles.css">