<%- include('partials/header'); %>
</head>
<body>

<div class="container-fluid">
<header class="row">
    <div class="col-12 bg-danger">
        <div class="customdiv">
            <h1> Welcome to Fuel Rate Calculator!!</h1>
        </div>
    </div>
</header>
</div>

<%- include('partials/navbar'); %>

<div class="info" style="text-align: center;">
<h2><a href="/userlogin">Login in to Existing User Profile</a> 
 or <a href="/profile">Create a New User Profile</a>
</h2>
</div>

<br><br>

<footer>
<p>COSC 4353: Software Design<br>Dr. Raj Singh</p>
<div class="group">
    <em>Group 22: Loveleen Thomas, Annabella Tao and Hussein Alfartosy</em>
</div>
</footer>

<%- include('partials/footer'); %>