<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title><%=pageTitle%></title>
    <!-- Bootstrap -->
        <style>
        .customdiv{
            height: 90px;
            text-align: center;
        }
        h1{
            color:whitesmoke;
            padding-top: 15px;
        }
        .info{
            color:black;
            padding: 50px;
            margin:100px;
        }
        .group{
            text-align: right;
        }
        .btnbelow{
            margin-bottom: 10px;
        }
        </style>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
<body>

<div class="container-fluid">
    <header class="row">
        <div class="col-12 bg-danger">
            <div class="customdiv">
                <h1> Welcome to Fuel Rate Calculator!!</h1>
            </div>
        </div>
    </header>
</div>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            
            <li class="nav-item active">
                <a class="nav-link" href="/profile">User Profile <span class="sr-only">(current)</span></a>
            </li>
            
            <li class="nav-item active">
                <a class="nav-link" href="/fuel">Fuel <span class="sr-only">(current)</span></a>
            </li>

        </ul>
        <!--<form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>-->
    </div>
</nav>

<div class="info">
    <h2>Click to <a href="/UserRegistration">Login in to Existing User Profile</a> 
     or <a href="/profile">Create a New User Profile</a>
    </h2>
</div>

<br><br>

<footer>
    <p>COSC 4353: Software Design<br>Dr. Raj Singh</p>
    <div class="group">
        <em>Group 22: Hussein Alfartosy, Annabella Tao and Loveleen Thomas</em>
    </div>
</footer>

        <!-- jQuery --> 
        <script src="/public/js/jquery-3.2.1.min.js"></script>
        <script src="/public/js/popper.min.js"></script>
        <script src="/public/js/bootstrap-4.0.0.js"></script>         
    </body>
</html>
