<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title><%=pageTitle%></title>
    <!-- Bootstrap -->
        <style>
        .customdiv{
            height: 90px;
            text-align: center;
        }
        h1{
            color:whitesmoke;
            padding-top: 15px;
        }
        .info{
            color:black;
            padding: 50px;
            margin:100px;
        }
        .group{
            text-align: right;
        }
        .btnbelow{
            margin-bottom: 10px;
        }
        </style>
        <link rel="stylesheet" href="/css/styles.css">
   </head>
<body>

<div class="container-fluid">
    <header class="row">
       <div class="col-12 bg-danger">
          <div class="customdiv">
             <h1>Register New User</h1>
          </div>
       </div>
    </header>
</div>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
   </button>
   
   <div class="collapse navbar-collapse" id="navbarSupportedContent">
       <ul class="navbar-nav mr-auto">
           <li class="nav-item active">
               <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
           </li>
           
           <li class="nav-item active">
               <a class="nav-link" href="/profile">User Profile <span class="sr-only">(current)</span></a>
           </li>
           
           <li class="nav-item active">
               <a class="nav-link" href="/fuel">Fuel <span class="sr-only">(current)</span></a>
           </li>

       </ul>
       <!--<form class="form-inline my-2 my-lg-0">
           <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
           <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
       </form>-->
   </div>
</nav>

<div class="container">
    <div class="row">
       <div class="col-lg-6">
          <div class="customform">
             <br>
             <form action="/userregistration" method="post">
                <div class="form-group"><br>
                   <h2>USER LOGIN</h2>
                   
                   <label for="username">Enter Your Username</label>
                   <input type="text" class="form-control" id="username" placeholder="Enter User Name" name="username" required><br>
                   
                   <label for="password">Password</label>
                   <input type="password" class="form-control" id="password" placeholder="Enter Password" name="password" required><br>
                </div>
                <input type="submit" class="btn btn-primary" value="Register">
             </form>
          </div>
       </div>
    </div>
 </div>

        <!-- jQuery --> 
        <script src="/public/js/jquery-3.2.1.min.js"></script>
        <script src="/public/js/popper.min.js"></script>
        <script src="/public/js/bootstrap-4.0.0.js"></script>         
    </body>
</html>
